@model List<MotherInstitute.Models.AgentReportViewModel>

<div class="container mt-5">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <h1 class="fw-bold text-center text-primary mb-5">
            📊 Marketing Agent Report
        </h1>

        <div class="table-responsive">

            <table class="table table-bordered text-center">

                <thead class="table-dark">

                    <tr>
                        <th>Agent Name</th>
                        <th>Total Assign</th>
                        <th>Total Initiated</th>
                        <th>Total Visited</th>
                        <th>Total Admitted</th>
                        <th>Total Cancel</th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.AgentName</td>

                            <td>@item.TotalAssign</td>

                            <td>@item.TotalInitiated</td>

                            <td>@item.TotalVisited</td>

                            <td>@item.TotalAdmitted</td>

                            <td>@item.TotalCancel</td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>